html {
   margin: 32px;
   font-family: 'Roboto', sans-serif;
   font-size: 18px;
}
h1 {
   word-spacing: 20px;
   text-align: center;
   text-transform: capitalize;
}
p {
   line-height: 28px;
}
a {
   text-decoration: none;
}
em {
   font-style: italic;
   color: grey;
}
.html, .css {
   font-weight: bold;
   letter-spacing: 3px;
   font-size: 24px;
   opacity: 0.8;
   text-decoration: underline;
}